name: Build Arriba dotnetcore

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.100
      - name: Build Arriba.Core.sln Release
        run: dotnet build ./Arriba/Arriba.Core.sln --configuration Release
